server:
  port: 8002
  mode: "dev"
mysql:
  host: 127.0.0.1
  port: 3308
  username: root
  password: root
  dbname: shopdevgo
  maxIdleConns: 10 # sets the maximum number of idle connections in the pool.
  maxOpenConns: 100 # sets the maximum number of open connections to the database.
  connMaxLifetime: 3600 # sets the maximum amount of time a connection can be reused before being closed.
logger:
  log_level: debug
  file_log_name: "./storages/logs/dev.001.log"
  max_size: 500 # megabytes
  max_backups: 3
  max_age: 28  # days
  compress: true # disabled by default
redis:
  host: 127.0.0.1
  port: 6381
  password: # no pw set
  db: 0 # use default db
  pool_size: 10 # max connect to redis
